<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>categoria</title>
</head>
<body>
    <h1>Cadastro de Categoria</h1>

<form action="{{ url_for('categoria') }}" method="post">

    <p>
        <label for="nome">Nome da categoria:</label>
    </p>

    <p>
        <input type="text" id="nome" name="nome" required>
    </p>

    <p>
        <label for="descricao">Descrição:</label>
    </p>

    <p>
        <input type="text" id="descricao" name="descricao">
    </p>

    <p>
        <input type="submit" value="Cadastrar Categoria">
    </p>

</form>
</body>
</html>