<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comprar e vender - {{titulo}}</title>
</head>
<body>
    <h1>Cadastro de Usuário</h1>

<form action="{{ url_for('caduser') }}" method="post">

    <p>
        <label for="user">Username:</label>
    </p>

    <p>
        <input type="text" id="user" name="user">
    </p>

    <p>
        <label for="email">Email:</label>
    </p>

    <p>
        <input type="email" id="email" name="email">
    </p>

    <p>
        <label for="senha">Senha:</label>
    </p>

    <p>
        <input type="password" id="senha" name="senha">
    </p>

    <p>
        <input type="submit" value="Cadastrar">
    </p>

</form>
</body>
</html>